<ion-menu contentId="main-content">
  <ion-toolbar>
    <ion-title >
      <div class="title">
        <span class="material-symbols-outlined">
          shopping_basket
          </span> 
          <p>Tu cesta</p>
      </div>
      
    </ion-title>
  </ion-toolbar>

  <ion-content class="ion-padding">
    <div class="fruit-flex" *ngIf="totalAmount > 0">
      <div class="fruit-container" *ngFor="let fruit of fruitsData">
        <app-cart-card *ngIf="fruit.amount > 0" [fruit]="fruit"></app-cart-card>
      </div>
    </div>
    <div class="fruit-no-amount" *ngIf="totalAmount == 0">
      
        <p>No hay nada en la cesta</p>
      
    </div>
  </ion-content>
</ion-menu >
<div class="ion-page sticky" id="main-content">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-menu-button
        ><span class="material-symbols-outlined cart-btn"> shopping_cart </span>
      </ion-menu-button>
      <ion-badge slot="end">{{ totalAmount }}</ion-badge>
    </ion-buttons>
    <ion-title class="title">Cesta de frutas</ion-title>
  </ion-toolbar>
</div>
